.Button {
  background-color: transparent;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.Button:disabled {
  color: #ccc;
  background-color: #1e1e1e;
  border: none;
  cursor: not-allowed;
  &:hover {
    box-shadow: none;
    outline: 0;
    color: #3c3c3c;
    background-color: #1e1e1e;
    border-color: #1e1e1e;
  }
}

.Success {
  color: #3c3c3c;
  background-color: #E8FF8D;
  border-color: #E8FF8D;
  &:focus, &:hover, &:active {
    color: #3c3c3c;
    background-color: #dfff5f;
    border-color: #f1ffbb;
    box-shadow: 0 0 0 0.2rem rgba(241,255,187,0.8);
    outline: 0;
  }
}


.Danger {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  &:focus, &:hover, &:active {
    color: #fff;
    background-color: #252525;
    border-color: #535353;
    box-shadow: 0 0 0 0.2rem rgba(60,60,60,0.4);
    outline: 0;
  }
}